@using Babou.API.Web.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@inject ApplicationInsightsJsHelper AiJsHelper
@inject IConfiguration Configuration
@inject IHttpContextAccessor _httpContext

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Babou API - @ViewData["Title"]</title>
    <partial name="_SocialMetatags" />
    <partial name="_Favicons" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-add-nonce="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-add-nonce="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" asp-add-nonce="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-add-nonce="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-add-nonce="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" asp-add-nonce="true" />
    </environment>
    @RenderSection("CSS", required: false)
    <environment exclude="Development">
        @Html.Raw(AiJsHelper.Script)

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46787872-2" asp-add-nonce="true"></script>
        <script asp-add-nonce="true">
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }

            gtag('js', new Date());

            gtag('config', 'UA-46787872-2');
        </script>
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Babou API</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            @* ReSharper disable once Html.PathError *@
                            <a class="nav-link text-white" href="/swagger/">Swagger Docs</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Babou API - Build: @Configuration["BuildNumber"] - <a asp-area="" asp-page="/TermsOfService">Terms of Service</a> - <a asp-area="" asp-page="/Privacy">Privacy Policy</a> - <a asp-area="" asp-page="/Contact">Contact</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-add-nonce="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-add-nonce="true"></script>
        <script src="~/js/site.js" asp-add-nonce="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/babouapi.min.js" asp-add-nonce="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
