@using Babou.API.Web.Models.Database
@using Babou.API.Web.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@inject ApplicationInsightsJsHelper AiJsHelper
@inject IConfiguration Configuration
@inject IHttpContextAccessor _httpContext
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Babou IO - @ViewData["Title"]</title>
    <partial name="_SocialMetatags" />
    <partial name="_Favicons" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-add-nonce="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-add-nonce="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" asp-add-nonce="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-add-nonce="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-add-nonce="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" asp-add-nonce="true" />
    </environment>
    @RenderSection("CSS", required: false)
    <environment exclude="Development">
        @Html.Raw(AiJsHelper.Script)

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46787872-2" asp-add-nonce="true"></script>
        <script asp-add-nonce="true">
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }

            gtag('js', new Date());

            gtag('config', 'UA-46787872-2');
        </script>
    </environment>
</head>
<body>
    <environment exclude="Development">
        <script asp-add-nonce="true">
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '504246783635071',
                    cookie: true,
                    xfbml: true,
                    version: 'v5.0'
                });

                FB.AppEvents.logPageView();

            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </environment>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Babou IO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @*<li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/UrlShorteners">Url Shorteners</a>
                            </li>*@
                            <li class="nav-item nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarUrlShortener" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    URL Shortening
                                </a>
                                <div class="dropdown-menu bg-dark" aria-labelledby="navbarUrlShortener">
                                    <a class="dropdown-item text-white" asp-area="" asp-page="/UrlShortener/Create">Create Short URL</a>
                                    <a class="dropdown-item text-white" asp-area="" asp-page="/UrlShortener/Manage">Manage Your URLs</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="container">
        <partial name="_CookieConsentPartial" />
    </div>
    <footer class="border-top footer text-muted line-height-30">
        <div class="container">
            &copy; @DateTime.Now.Year - Babou IO - Build: @Configuration["BuildNumber"] - <a class="text-lightblue" href="/swagger/">API Docs</a> - <a class="text-lightblue" asp-area="" asp-page="/TermsOfService">Terms of Service</a> - <a class="text-lightblue" asp-area="" asp-page="/Privacy">Privacy Policy</a> - <a class="text-lightblue" asp-area="" asp-page="/Contact">Contact</a>
            <div class="float-right">
                <a href="https://facebook.com/BabouIO"><i class="fab fa-2x fa-facebook-square text-brand-facebook"></i></a>
            </div>
        </div>
        <div class="container">
            Developed by <a class="text-lightblue" href="https://ajtatum.com" target="_blank">AJ Tatum</a> with <a class="text-lightblue" href="https://excelsiordev.co">Excelsior Dev</a>.
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-add-nonce="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-add-nonce="true"></script>
        <script src="~/lib/font-awesome/js/all.min.js" asp-add-nonce="true"></script>
        <script src="~/js/site.js" asp-add-nonce="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/babouapi.min.js" asp-add-nonce="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
